.FixedTableHeader-wrapper {
  background-color: #F8F8F8;
  border-bottom: 1px solid #C4C8CA;
}
.FixedTableHeader-title {
  font-size: 14px;
  font-weight: 500;
  color: #323232;
  line-height: 1;
  margin: 0;
}
.FixedTableHeader-content .title-section {
  padding: 20px;
}
