.FixedTableHeader-wrapper {
  background-color: #f8f8f8;
  border-bottom: 1px solid #c4c8ca;
}
.FixedTableHeader-title {
  font-size: 14px;
  font-weight: 500;
  color: #323232;
  line-height: 1;
  margin: 0;
}
.FixedTableHeader-content .title-section {
  padding: 20px;
}
