version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.7
    steps:
      - checkout
      - run:
          name: Yarn
          command: 'yarn install'
      - run:
          name: Test Build
          command: 'make build'
  publish:
    docker:
      - image: circleci/node:16.13.1
    steps:
      - checkout
      - run:
          name: Yarn
          command: 'yarn install'
      - run:
          name: Build Prod
          command: 'make build_prod'
      - run:
          name: npm login
          command: 'npm run login-cli'
      - run:
          name: Publish if version changed
          command: 'npm run maybe-publish'

workflows:
  version: 2
  build-n-deploy:
    jobs:
      - build
      - publish:
          filters:
            branches:
              only: master

