body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-font-smoothing: antialiased;
}

body a {
  font-weight: 500;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.LogsViewer-wrapper {
  &.light {
    background-color: #ffffff;

    h1, h2, h3, h4, h5, h6 {
      color: #323232;
    }
    p, span {
      color: #4A4A4A;
    }
    a {
      color: #2A98CB;
      text-decoration: none;
    }
  }
  &.dark {
    background-color: #323232;

    h1, h2, h3, h4, h5, h6, p, span, a, .EventItem strong {
      color: #ffffff;
    }
    a {
     text-decoration: underline;
    }

    .FixedTableHeader-wrapper {
      background-color: #4A4A4A;
    }
  }
}

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}
.container-lrg {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hidden-trigger {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background: transparent;
}

/* Media Queries */

/* ≥ 568px */
@media screen and (min-width: 35.5em) {

}

/* ≥ 768px */
@media screen and (min-width: 48em) {

}

/* ≥ 960px */
@media screen and (min-width: 60em) {
  
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
 
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {

}
