code {
  padding: 2px 4px;
  font-size: 90%;
  font-family: "Monaco", "Helvetica Neue", "Helvetica", sans-serif;
  border-radius: 4px;
}
.LogsViewer-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}
.container-lrg {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hidden-trigger {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background: transparent;
}

.disable-link {
  pointer-events: none;
}

/* Media Queries */

/* ≥ 568px */
@media screen and (min-width: 35.5em) {
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
}

/* ≥ 960px */
@media screen and (min-width: 60em) {
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {
}
