.Button {
  font-weight: 700;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 14px;
  display: inline-block;
  border: 0;
  transition: all .2s;
  outline: none;
  position: relative;

  &.small {
    font-size: 12px;
    padding: 6px 12px;
  }
  &.block {
    display: block;
    width: 100%;
  }

  &.primary {
    background-color: #2A98CB;
    border-width: 1px;
    border-style: solid;
    border-color: #248BBB;
    color: #ffffff;
  }
  &.primary:not(:disabled):hover {
    background-color: #248BBB;
  }

  &.secondary {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #2A98CB;
    color: #2A98CB;
  }
  &.secondary:not(:disabled):hover {
    background-color: #248BBB;
    color: #248BBB;
  }

} // End .Button

.Button.primary.is-disabled,
.Button.primary.is-disabled:hover,
.Button.primary:disabled,
.Button.primary[disabled] {
  cursor: not-allowed;
  border-color: #A3D3E9;
  color: #ffffff;
  background-color: #A3D3E9;
}
.Button.secondary.is-disabled,
.Button.secondary.is-disabled:hover,
.Button.secondary:disabled,
.Button.secondary[disabled] {
  cursor: not-allowed;  
  color: #A3D3E9;
  border-color: #A3D3E9;
}
