.Button {
  font-weight: 700;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 14px;
  display: inline-block;
  border: 0;
  border-radius: 4px;
  transition: all 0.2s;
  outline: none;
  position: relative;

  &.small {
    font-size: 12px;
    padding: 6px 12px;
  }
  &.block {
    display: block;
    width: 100%;
  }

  &.primary {
    background-color: #2a98cb;
    border-width: 1px;
    border-style: solid;
    border-color: #248bbb;
    color: #ffffff;
  }
  &.primary:not(:disabled):hover {
    background-color: #248bbb;
  }

  &.secondary {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #2a98cb;
    color: #2a98cb;
  }
  &.secondary:not(:disabled):hover {
    background-color: #248bbb;
    color: #ffffff;
  }
} // End .Button

.Button.primary.is-disabled,
.Button.primary.is-disabled:hover,
.Button.primary:disabled,
.Button.primary[disabled] {
  cursor: not-allowed;
  border-color: #a3d3e9;
  color: #ffffff;
  background-color: #a3d3e9;
}
.Button.secondary.is-disabled,
.Button.secondary.is-disabled:hover,
.Button.secondary:disabled,
.Button.secondary[disabled] {
  cursor: not-allowed;
  color: #a3d3e9;
  border-color: #a3d3e9;
}
