@use "../components/forms/input.scss";
@use "../components/forms/textarea.scss";
@use "../components/forms/select.scss";

.FormRow-wrapper {
  margin-top: 14px;
}
.FormElm {
  padding: 0 10px;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.ErrorBlock {
  display: block;
  width: 100%;
  padding: 11px;
  background-color: #ffdada;
  box-sizing: border-box;
  border-radius: 3px;
}
.ErrorBlock p {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  color: #863333;
}

.CustomCheckbox {
  position: relative;
  margin-right: 10px;
}
.CustomCheckbox.no-margin {
  margin: 0;
}
.CustomCheckbox:last-child {
  margin-right: 0;
}

.CustomCheckbox input[type="checkbox"],
.CustomCheckbox input[type="radio"] {
  position: absolute;
  margin: 0;
  top: 14px;
  left: 10px;
  z-index: 2;
  outline: none;
  cursor: pointer;
}
.CustomCheckbox label {
  z-index: 1;
  font-size: 14px;
  font-weight: 700;
  color: #323232;
  line-height: normal;
  padding: 10px 10px 10px 28px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  transition: border 0.2s;
  user-select: none;
}
.CustomCheckbox label:hover,
.CustomCheckbox input[type="checkbox"]:hover + label,
.CustomCheckbox input[type="radio"]:hover + label {
  border-color: #c4c8ca;
}
.CustomCheckbox.is-checked label,
.CustomCheckbox.is-checked:hover label,
.CustomCheckbox.is-checked input[type="checkbox"]:hover + label,
.CustomCheckbox.is-checked input[type="radio"]:hover + label {
  background-color: #eaf1f7;
  border-color: #337ab7;
}
.CustomCheckbox.is-disabled label,
.CustomCheckbox.is-disabled input[type="checkbox"],
.CustomCheckbox.is-disabled input[type="radio"] {
  cursor: not-allowed;
}
.CustomCheckbox.is-disabled label,
.CustomCheckbox.is-disabled:hover label,
.CustomCheckbox.is-disabled input[type="checkbox"]:hover + label,
.CustomCheckbox.is-disabled input[type="radio"]:hover + label {
  background-color: #f8f8f8;
  border-color: #dfdfdf;
  color: #717171;
}
