h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* Font sizes */

.u-fontSize--small   { font-size: 12px; }
.u-fontSize--normal  { font-size: 14px; }
.u-fontSize--large   { font-size: 16px; }
.u-fontSize--larger  { font-size: 18px; }
.u-fontSize--header3 { font-size: 24px; }

/* Line height */

.u-lineHeight--normal { line-height: 1; }
.u-lineHeight--more { line-height: 1.7; }

/* Font decoration */

.u-textDecoration--underline { text-decoration: underline; }
.u-textDecoration--underlineOnHover:hover,
.u-textDecoration--underlineOnHover:focus {
  cursor: pointer;
  text-decoration: underline;
}

/* Alignment classes */

.u-textAlign--center { text-align: center; }
.u-textAlign--left { text-align: left; }
.u-textAlign--right { text-align: right; }

/* Font weight classes */

.u-fontWeight--normal { font-weight: 400; }
.u-fontWeight--medium { font-weight: 500; }
.u-fontWeight--bold { font-weight: 700; }
.u-fontStyle--italic { font-style: italic; }
.u-textTransform--uppercase { text-transform: uppercase; }

/* Color class */
.u-color--curiousBlue {
  color: #248BBB;
}

/* Media Queries */

/* ≥ 768px */
@media screen and (min-width: 48em) {

}

/* ≥ 960px */
@media screen and (min-width: 60em) {
  
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  
}
