.Input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #c4c8ca;
  border-radius: 4px;
  outline: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #323232;
  padding: 10px 56px 11px 11px;
  transition: border 0.2s;
}
.Input:active,
.Input:focus {
  border-color: #248bbb;
}
.Input.has-error,
.Input.has-error:focus,
.Input.has-error:active {
  border-color: #ee5042;
}
.Input.is-disabled {
  user-select: none;
  cursor: not-allowed;
  background-color: #f8f8f8;
  border-color: #dfdfdf;
  color: #717171;
}
.Input.small {
  font-size: 12px;
  padding: 4px 12px 5px;
}
.hidden-input {
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
}
