.Select {
  position: relative;
  width: 100%;
  background: #ffffff;
  border: 1px solid #c4c8ca;
  border-radius: 4px;
  font-size: 14px;
  color: #323232;
  line-height: normal;
  outline: none;
  height: 40px;
  cursor: pointer;
}
.Select.no-selection {
  color: #9b9b9b;
}
.Select.is-disabled {
  cursor: not-allowed;
  background-color: #f8f8f8;
  border-color: #dfdfdf;
  color: #717171;
}
