.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #c4c8ca;
  border-radius: 4px;
  outline: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #323232;
  padding: 10px 11px 11px;
  transition: border 0.2s;
}
.Textarea:active,
.Textarea:focus {
  border-color: #248bbb;
}
.Textarea.has-error,
.Textarea.has-error:focus,
.Textarea.has-error:active {
  border-color: #ee5042;
}
