@import "./components/views/DatePicker.scss";
html, body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#retracedLogsViewerApp {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-font-smoothing: antialiased;

  a {
    font-weight: 500;
  }
}

.ReactModal__Overlay {
  background-color: rgba(50,50,50,.4) !important;
}

.retraced-logs-viewer-app {
  @import "./utilities/reset.scss";
  @import "./utilities/base.scss";
  @import "./utilities/typography.scss";
  @import "./utilities/buttons.scss";
  @import "./utilities/utilities.scss";
  @import "./utilities/flexbox.scss";
  @import "./utilities/forms.scss";
  @import "./components/tables/FixedTableHeader.scss";
  @import "./components/tables/TableRow.scss";
  @import "./components/views/EventsBrowser.scss";
  @import "./components/shared/Tooltip.scss";
  @import "./utilities/icons.scss";

  &.light {
    h1, h2, h3, h4, h5, h6 {
      color: #323232;
    }
    p, span {
      color: #4A4A4A;
    }
    a {
      color: #2A98CB;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    code {
      color: #c7254e;
      background-color: #f9f2f4;
    }
  }
  &.dark {
    h1, h2, h3, h4, h5, h6, p, span, a, .EventItem strong,
    .EventItem p, .date p, .location p {
      color: #ffffff;
    }
    a {
     text-decoration: underline;
    }
    code {
      color: #323232;
      background-color: rgba(255,255,255,.8);
    }

    .FixedTableHeader-wrapper {
      background-color: rgba(255,255,255,.4);
      border-color: #F7F7F7;

      p.FixedTableHeader-title {
        color: #fff;
      }
    }

    .TableRow.mobile-row {
      padding: 12px 20px 10px;
      overflow: hidden;

      &:hover {
        background-color:rgba(248, 248, 248, .2);
      }
    }

    .TableRow-wrapper {
      border-color: #F7F7F7;
    }

    .FilterDropdown p {
      color: black;
    }

    .Tooltip-wrapper .Tooltip-content {
      background: white;
      color: black;
    }

    .Tooltip-wrapper.tooltip-bottom-left::after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid rgba(255,255,255,1);
    }

    .icon.u-dropdownArrowIcon {
      background-position: -18px -32px;
      width: 16px;
      height: 9px;
    }
    .icon.u-dropdownArrowIcon:hover {
      background-position: -18px -43px;
    }

    .icon.u-gearIcon {
      background-position: -18px -54px;
    }
    .icon.u-gearIcon:hover {
      background-position: -18px -72px;
    }

    .icon.u-csvExportIcon {
      background-position: -18px -90px;
      width: 16px;
      height: 19px;
    }
    .icon.u-csvExportIcon:hover {
      background-position: -18px -111px;
    }

    .icon.u-codeIcon {
      background-position: -18px -132px;
      width: 18px;
      height: 12px;
    }
    .icon.u-codeIcon:hover {
      background-position: -18px -146px;
    }

    .icon.u-infoIcon {
      background-position: -18px -161px;
      width: 16px;
      height: 16px;
    }
    .icon.u-infoIcon:hover {
      background-position: -18px -181px;
    }

    .icon.u-tokensIcon {
      background-position: -18px -275px;
      width: 17px;
      height: 20px;
    }
    .icon.u-tokensIcon:hover {
      background-position: -18px -298px;
    }
  }

  &.modal {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: #ffffff;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .6);
    outline: 0;

    h1 {
      font-size: 26px;
      padding: 20px 25px;
      border-bottom: 1px solid #C4C8CA;
      color: #323232;
    }
    p { 
      line-height: 1.4; 
      color: #323232;
    }
    .modal-content {
      padding: 20px 25px;
      font-size: 14px;
      color: #323232;
      background: #fff;
    }
    .icon.u-closeIcon {
      background-color: transparent;
      border: 0;
      text-indent: -9999px;
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer;
      outline: 0;
    }

    &.AccessTokensModal {
       max-width: 650px;
       max-height: 600px;
       overflow: scroll;

      .token-name {
        min-width: 130px;
      }
      .buttons {
        padding: 20px;
      }
    }
  }
}
