@import "./components/views/DatePicker.scss";
html, body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#retracedLogsViewerApp {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-font-smoothing: antialiased;

  a {
    font-weight: 500;
  }

  @import "./utilities/reset.scss";
  @import "./utilities/base.scss";
  @import "./utilities/typography.scss";
  @import "./utilities/buttons.scss";
  @import "./utilities/utilities.scss";
  @import "./utilities/flexbox.scss";
  @import "./utilities/forms.scss";
  @import "./components/tables/FixedTableHeader.scss";
  @import "./components/tables/TableRow.scss";
  @import "./components/views/EventsBrowser.scss";
}

.retraced-logs-viewer-app {
  @import "./utilities/icons.scss";
}
