.EventsTable-header {
  padding: 20px 20px 18px;
}
.EventItem {
  color: #4A4A4A;
}
.EventItem strong {
  color: #323232;
  font-weight: 600;
}
.EventItem a strong {
  color: #2A98CB;
  font-weight: 500;
}
.EventItem p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.FilterApplied-tag {
  padding: 4px 10px 6px;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
  background-color: #EBB55C;
  position: relative;
  top: -3px;
  border-radius: 15px;
  cursor: default;
}

/* Search bar stuff */

.Input.SearchEvents {
  min-width: 320px;
  position: relative;
  z-index: 100;
}

.FilterDropdown-trigger {
  position: absolute;
  padding: 0 10px;
  top: 1px;
  right: 2px;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 38px;
  color: #2A98CB !important;
  background-color: #ffffff;
  z-index: 410;
}

.searchButton {
  position: relative;
  z-index: 410;
}
.helpLink {
  color: #2A98CB !important;
  margin: 0 auto;
}

/* Filters stuff */

.FilterDropdown {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #C4C8CA;
  border-radius: 4px;
  padding: 20px 15px 12px;
  left: 0;
  right: 0;
  z-index: 410;
}
.FilterDropdown::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 22px;
  top: -5px;
  background: #ffffff;
  box-shadow: -1px -1px 0 #C4C8CA;
  transform: rotate(45deg); 
}

.mobile-row .EventItem {
  vertical-align: -4px;
}

.EventPager {
  padding: 20px 0;
  &.has-shadow {
    box-shadow: 0 -5px 5px -5px rgba(0,0,0,.16);
  }
}

.icon.previous {
  transform: rotate(90deg) translate(-1px, 0);
  transition: transform .2s ease-in-out;
}
.icon.next {
  transform: rotate(-90deg) translate(0, 0);
  transition: transform .2s ease-in-out;
}

.arrow-wrapper p:hover .icon.next {
  transform: rotate(-90deg) translateY(3px);
}
.arrow-wrapper p:hover .icon.icon.previous {
  transform: rotate(90deg) translate(-1px, 3px);
}

.modal {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  background: #fff;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .6);
  outline: 0;
}

.modal h1 {
  font-weight: 200;
  font-size: 26px;
  padding: 20px 25px;
  border-bottom: 1px solid #C4C8CA;
}

.modal h3 {
  font-weight: 500;
}

.modal p {
  padding: 10px 0 25px;
  line-height: 20px;
}

.modal .modal-content {
  padding: 20px 25px;
  font-size: 14px;
}

.modal .icon.u-closeIcon {
  appearance: none;
  background-color: transparent;
  border: 0;
  text-indent: -9999px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  outline: 0;
}

.modal .name-input {
  display: flex;
}

.modal .name-input input {
  flex: 1;
  margin-right: 20px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #C4C7CA;
  padding: 0 10px;
}

.ExportEventsModal .query-select {
  display: flex;
}

.ExportEventsModal .query-select .select-menu {
  flex: 1;
  display: flex;
  position: relative;
}

.ExportEventsModal .query-select .u-dropdownArrowIcon {
  position: absolute;
  top: 15px;
  right: 30px;
} 

.ExportEventsModal .query-select select {
  z-index: 2;
  appearance: none;
  height: 38px;
  padding: 0 10px;
  background: transparent;
  cursor: pointer;
  border: solid 1px #C4C7CA;
  flex: 1;
  margin-right: 20px;
  outline: 0;
}

.AccessTokensModal {
  width: 600px;
}

.AccessTokensModal .tokens-table {
  width: 100%;
}

.AccessTokensModal .tokens-table thead tr:first-of-type {
  background: #F7F7F7;
}

.AccessTokensModal .tokens-table tr {
  text-align: left;
  border-bottom: #C4C7CA solid 1px;
}

.AccessTokensModal .tokens-table th,
.AccessTokensModal .tokens-table td {
  padding: 15px 20px;
  min-width: 100px;
}

.AccessTokensModal .tokens-table td {
  margin-right: 15px;
}

.AccessTokensModal .buttons {
  padding: 20px;
  text-align: right;
}

.AccessTokensModal .buttons button:first-of-type {
  margin-right: 10px;
}

